@media only screen and (max-width: 599px) {
    .mat-toolbar {
        position: fixed;
        z-index: 9999;
    }
}

@media only screen and (min-width: 600px) and (max-width: 959px) {
    .mat-toolbar {
        position: fixed;
        z-index: 9999;
    }
}
