<mat-card class="project-card">
  <mat-card-header>
    <div mat-card-avatar class="project-card-avatar" [style.background-image]="'url(' + avatar + ')'"></div>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="image" alt="Project Card Image" />
  <mat-card-content>
    <p>{{content}}</p>
  </mat-card-content>
  <mat-card-actions>
    <div fxFlex></div>
    <button mat-button color="primary" (click)="gotoGithub()">View On Github</button>
    <div fxFlex></div>
  </mat-card-actions>
</mat-card>