<mat-card class="project-card">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>Example Project</mat-card-title>
    <mat-card-subtitle>Typescript</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/images/prism.png" alt="Project Card Image" />
  <mat-card-content>
    <p>This is some content</p>
  </mat-card-content>
  <mat-card-actions>
    <div fxFlex></div>
    <button mat-button color="primary">View On Github</button>
    <div fxFlex></div>
  </mat-card-actions>
</mat-card>